In [92]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("./input"))

import sys  

reload(sys)  
sys.setdefaultencoding('utf8')

# Any results you write to the current directory are saved as output.

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

**Load the data from csv files**

In [94]:
books = pd.read_csv('./input/books.csv', encoding = "ISO-8859-1")
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr??",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [95]:
books.shape

(9823, 23)

In [96]:
books.columns

Index([u'book_id', u'goodreads_book_id', u'best_book_id', u'work_id',
       u'books_count', u'isbn', u'isbn13', u'authors',
       u'original_publication_year', u'original_title', u'title',
       u'language_code', u'average_rating', u'ratings_count',
       u'work_ratings_count', u'work_text_reviews_count', u'ratings_1',
       u'ratings_2', u'ratings_3', u'ratings_4', u'ratings_5', u'image_url',
       u'small_image_url'],
      dtype='object')

In [97]:
ratings = pd.read_csv('./input/ratings.csv', encoding = "ISO-8859-1")
ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [98]:
book_tags = pd.read_csv('./input/book_tags.csv', encoding = "ISO-8859-1")
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [99]:
tags = pd.read_csv('./input/tags.csv')
tags.tail()

       tag_id    tag_name
34247   34247   Ｃhildrens
34248   34248   Ｆａｖｏｒｉｔｅｓ
34249   34249       Ｍａｎｇａ
34250   34250      ＳＥＲＩＥＳ
34251   34251  ｆａｖｏｕｒｉｔｅｓ

In [100]:
tags_join_DF = pd.merge(book_tags, tags, left_on='tag_id', right_on='tag_id', how='inner')
tags_join_DF.head()

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read
1                  2   30574   24549  to-read
2                  3   30574  496107  to-read
3                  5   30574   11909  to-read
4                  6   30574     298  to-read

In [103]:
to_read = pd.read_csv('./input/to_read.csv')
to_read.head()

   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380

**TfidfVectorizer** function from scikit-learn, which transforms** text to feature vectors** that can be used as input to estimator.

 **Cosine Similarity** to calculate a numeric value that denotes the similarity between two books.

In [104]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(books['authors'])
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

MemoryError:

In [71]:
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

A function that returns the 20 most similar books based on the cosine similarity score.

In [72]:
# Build a 1-dimensional array with book titles
titles = books['title']
indices = pd.Series(books.index, index=books['title'])

# Function that get book recommendations based on the cosine similarity score of book authors
def authors_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    book_indices = [i[0] for i in sim_scores]
    return titles.loc[book_indices]

In [73]:
authors_recommendations('The Hobbit').head(20)

18      The Fellowship of the Ring (The Lord of the Ri...
154            The Two Towers (The Lord of the Rings, #2)
160     The Return of the King (The Lord of the Rings,...
4892         Unfinished Tales ofNÃºmenor and Middle-Earth
2272                               The Children of HÃºrin
605              The Silmarillion (Middle-Earth Universe)
8126                   The Complete Guide to Middle-Earth
1115     The History of the Hobbit, Part One: Mr. Baggins
461                             The Hobbit: Graphic Novel
0                 The Hunger Games (The Hunger Games, #1)
1       Harry Potter and the Sorcerer's Stone (Harry P...
2                                 Twilight (Twilight, #1)
3                                   To Kill a Mockingbird
4                                        The Great Gatsby
5                                  The Fault in Our Stars
7                                  The Catcher in the Rye
8                   Angels & Demons  (Robert Langdon, #1)
9                                     Pride and Prejudice
10                                        The Kite Runner
11                              Divergent (Divergent, #1)
Name: title, dtype: object

In [74]:
len(books)

9823

Recommend books using the tags provided to the books.

In [75]:
books_with_tags = pd.merge(books, tags_join_DF, left_on='book_id', right_on='goodreads_book_id', how='inner')

In [76]:
# books_with_tags[(books_with_tags.goodreads_book_id==18710190)]['tag_name']

In [77]:
tf1 = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix1 = tf1.fit_transform(books_with_tags['tag_name'].head(10000))
cosine_sim1 = linear_kernel(tfidf_matrix1, tfidf_matrix1)

In [78]:
cosine_sim1

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [79]:
# Build a 1-dimensional array with book titles
titles1 = books['title']
indices1 = pd.Series(books.index, index=books['title'])

# Function that get book recommendations based on the cosine similarity score of books tags
def tags_recommendations(title):
    idx = indices1[title]
    sim_scores = list(enumerate(cosine_sim1[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    book_indices = [i[0] for i in sim_scores]
    return titles.iloc[book_indices]

In [80]:
tags_recommendations('The Hobbit').head(20)

106                                    A Walk to Remember
206       The Silence of the Lambs  (Hannibal Lecter, #2)
306                      Good in Bed (Cannie Shapiro, #1)
404     Guns, Germs, and Steel: The Fates of Human Soc...
506                        The Complete Stories and Poems
606         The Drawing of the Three (The Dark Tower, #2)
2805                                           Hard Times
54                                        Brave New World
136                             Outlander (Outlander, #1)
255                   The Scorch Trials (Maze Runner, #2)
354                             Oh, The Places You'll Go!
449                          If You Give a Mouse a Cookie
542         Pretty Little Liars (Pretty Little Liars, #1)
647                                               Freedom
571                                      Tuck Everlasting
680                                                  1776
99                                   The Poisonwood Bible
168                                         The Last Song
490             A Heartbreaking Work of Staggering Genius
668                                           Firestarter
Name: title, dtype: object

Recommendation of books using the authors and tags attributes for better results.
Creating corpus of features and calculating the TF-IDF on the corpus of attributes for gettings better recommendations.

In [81]:
temp_df = books_with_tags.groupby('book_id')['tag_name'].apply(' '.join).reset_index()
temp_df.head()

   book_id                                           tag_name
0        1  to-read fantasy favorites currently-reading yo...
1        2  to-read fantasy favorites currently-reading yo...
2        3  to-read fantasy favorites currently-reading yo...
3        5  to-read fantasy favorites currently-reading yo...
4        6  to-read fantasy young-adult fiction harry-pott...

In [82]:
books = pd.merge(books, temp_df, left_on='book_id', right_on='book_id', how='outer')

In [83]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_name
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,to-read fantasy favorites currently-reading yo...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr??",1997.0,Harry Potter and the Philosopher's Stone,...,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,to-read fantasy favorites currently-reading yo...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,to-read fantasy favorites currently-reading yo...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,NaN
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,to-read fantasy favorites currently-reading yo...

In [84]:
books['corpus'] = (pd.Series(books[['authors', 'tag_name']]
                .fillna('')
                .values.tolist()
                ).str.join(' '))

In [91]:
tf_corpus = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix_corpus = tf_corpus.fit_transform(books['corpus'])
cosine_sim_corpus = linear_kernel(tfidf_matrix_corpus, tfidf_matrix_corpus)

# Build a 1-dimensional array with book titles
titles = books['title']
indices = pd.Series(books.index, index=books['title'])

# Function that get book recommendations based on the cosine similarity score of books tags
def corpus_recommendations(title):
    idx = indices1[title]
    sim_scores = list(enumerate(cosine_sim_corpus[idx]))
    if len(sim_scores[0])==2:
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    else:
        sim_scores = sorted(sim_scores, key=lambda x: x[1][0], reverse=True)
    sim_scores = sim_scores[1:11]
    book_indices = [i[0] for i in sim_scores]
    return titles.iloc[book_indices]

corpus_recommendations("The Hobbit")

MemoryError:

In [87]:
corpus_recommendations("Twilight (Twilight, #1)")

4                                        The Great Gatsby
0                 The Hunger Games (The Hunger Games, #1)
5                                  The Fault in Our Stars
9                                     Pride and Prejudice
1       Harry Potter and the Sorcerer's Stone (Harry P...
6189                           Private Games (Private #3)
1975                              The Death of Ivan Ilych
374                                          The Namesake
7                                  The Catcher in the Rye
5809                                    Our Mutual Friend
Name: title, dtype: object

In [34]:
corpus_recommendations("Romeo and Juliet").index

Int64Index([ 19, 604,  18,  17, 605, 498,  16, 650, 456, 206, 753, 203, 671,
              7,   2,   4,   3,   0, 707,   1],
           dtype='int64')

In [31]:
books['title']

0                The Hunger Games (The Hunger Games, #1)
1      Harry Potter and the Sorcerer's Stone (Harry P...
2                                Twilight (Twilight, #1)
3                                       The Great Gatsby
4                                 The Fault in Our Stars
5                                 The Catcher in the Rye
6                                    Pride and Prejudice
7                                        The Kite Runner
8                                                   1984
9      Harry Potter and the Order of the Phoenix (Har...
10     Harry Potter and the Goblet of Fire (Harry Pot...
11     Harry Potter and the Deathly Hallows (Harry Po...
12                The Da Vinci Code (Robert Langdon, #2)
13     Harry Potter and the Half-Blood Prince (Harry ...
14                                     Lord of the Flies
15                                      Romeo and Juliet
16                                             Gone Girl
17                                   Memoirs of a Geisha
18               Fifty Shades of Grey (Fifty Shades, #1)
19                             The Giver (The Giver, #1)
20                               Where the Sidewalk Ends
21                              A Thousand Splendid Suns
22                                     The Secret Garden
23        The Girl Who Played with Fire (Millennium, #2)
24                             Allegiant (Divergent, #3)
25                                            Bossypants
26                     Me Before You (Me Before You, #1)
27     A Wrinkle in Time (A Wrinkle in Time Quintet, #1)
28                                   The Handmaid's Tale
29     Wicked: The Life and Times of the Wicked Witch...
                             ...
768                Blood Defense (Samantha Brinkman, #1)
769                                          Soul on Ice
770    Nine Parts of Desire: The Hidden World of Isla...
771                     The Midnight Palace (Niebla, #2)
772                       Magic Binds (Kate Daniels, #9)
773                                     Winter in Madrid
774    Mates, Dates, and Inflatable Bras (Mates, Date...
775    Rich Dad's Guide to Investing: What the Rich I...
776                                        Half Way Home
777                                       Selected Poems
778                                       A Window Opens
779                  The Space Between (Outlander, #7.5)
780                   Heartstone (Matthew Shardlake, #5)
781    Spark Joy: An Illustrated Master Class on the ...
782               Think Twice (Rosato & Associates, #11)
783                                           Owl Babies
784        Summer on Blossom Street (Blossom Street, #6)
785    Turn Right at Machu Picchu: Rediscovering the ...
786    The Chronicles of Narnia - The Lion, the Witch...
787    Life Before Legend: Stories of the Criminal an...
788                             The Last Days of Dogtown
789                                           Austerlitz
790    Money, and the Law of Attraction: Learning to ...
791    Henry's Freedom Box: A True Story from the Und...
792                                A Thousand Boy Kisses
793      Eve (Eve Duncan, #12; Eve, Quinn and Bonnie #1)
794                                         The Accident
795    Sherlock Holmes and the Case of the Hound of t...
796      Inside of a Dog: What Dogs See, Smell, and Know
797                                The Mauritius Command
Name: title, Length: 798, dtype: object

In [33]:
books_full = pd.read_csv('./input/books.csv', encoding = "ISO-8859-1")
len(books_full)

9823

In [89]:
recommendations = [] 


for index, row in books_full.iterrows():
    temp = [row['title']]
    rec =  corpus_recommendations(row['title'])
    temp.append(rec.index.tolist())
    recommendations.append(temp)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()